body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    width: 50%;  /* Adjust the width as needed */
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);  /* Adds subtle shadow around the form container */
    background: #fff;
}

h1.text-center {
    color: #333;
    margin-bottom: 20px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 5px;  /* Rounded corners for inputs and selects */
}

.btn-primary {
    background-color: #4CAF50;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;  /* Makes the button full width */
    border-radius: 5px;  /* Rounded corners for the button */
}

.btn-primary:hover {
    background-color: #45a049;
}
